{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "insertPragma": false,
  "bracketSameLine": true,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "insertFinalNewline": true
}

